.container {
  max-width: 1296px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}
@media (max-width: 767px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.w-full {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}
.col-1 {
  padding-right: 12px;
  padding-left: 12px;
  width: calc(100% / 12);
}
.col-2 {
  padding-right: 12px;
  padding-left: 12px;
  width: calc(100% / 12 * 2);
}
.col-3 {
  padding-right: 12px;
  padding-left: 12px;
  width: calc(100% / 12 * 3);
}
.col-4 {
  padding-right: 12px;
  padding-left: 12px;
  width: calc(100% / 12 * 4);
}
.col-5 {
  padding-right: 12px;
  padding-left: 12px;
  width: calc(100% / 12 * 5);
}
.col-6 {
  padding-right: 12px;
  padding-left: 12px;
  width: calc(100% / 12 * 6);
}
.col-7 {
  padding-right: 12px;
  padding-left: 12px;
  width: calc(100% / 12 * 7);
}
.col-8 {
  padding-right: 12px;
  padding-left: 12px;
  width: calc(100% / 12 * 8);
}
.col-9 {
  padding-right: 12px;
  padding-left: 12px;
  width: calc(100% / 12 * 9);
}
.col-10 {
  padding-right: 12px;
  padding-left: 12px;
  width: calc(100% / 12 * 10);
}
.col-11 {
  padding-right: 12px;
  padding-left: 12px;
  width: calc(100% / 12 * 11);
}
.col-12 {
  padding-right: 12px;
  padding-left: 12px;
  width: 100%;
}

@media (max-width: 767px) {
  .row {
    margin-left: -6px;
    margin-right: -6px;
  }
  .col-md-1 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 4);
  }
  .col-md-2 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 4 * 2);
  }
  .col-md-3 {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% / 4 * 3);
  }
  .col-md-4 {
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
  }
  .col-md-12 {
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
  }
}
.h2 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}
.h3 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}
.h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}
.h5 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}
.h6 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}
@media (max-width: 767px) {
  .h3-md {
    font-size: 28px;
  }
  .h4-md {
    font-size: 24px;
  }
  .h5-md {
    font-size: 20px;
  }
  .h6-md {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .h3-sm {
    font-size: 28px;
  }
  .h4-sm {
    font-size: 24px;
  }
  .h5-sm {
    font-size: 20px;
  }
  .h6-sm {
    font-size: 16px;
  }
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.self-end {
  align-self: end;
}
.d-none {
  display: none;
}
.gap-24 {
  gap: 24px;
}
.gap-8 {
  gap: 8px;
}
@media (max-width: 767px) {
  .d-md-flex {
    display: flex;
  }
  .flex-md-nowrap {
    flex-wrap: nowrap;
  }
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
  .flex-column-md {
    flex-direction: column;
  }
  .align-start-md {
    align-items: start;
  }
  .gap-8-md {
    gap: 8px;
  }
  .gap-0-md {
    gap: 0px;
  }
}
@media (max-width: 576px) {
  .d-sm-block {
    display: block;
  }
  .d-sm-none {
    display: none;
  }
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}
.p-12 {
  padding: 12px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pl-16 {
  padding-left: 16px;
}
.pt-32 {
  padding-top: 32px;
}
@media (max-width: 767px) {
  .py-md-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .py-md-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .py-md-24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .py-md-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .py-md-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .px-md-12 {
    padding: 0 12px;
  }
  .px-md-24 {
    padding-left: 24px;
    padding-right: 24px;
  }
  .px-md-32 {
    padding: 0 32px;
  }

  .pb-md-32 {
    padding-bottom: 32px;
  }
  .pl-md-12 {
    padding-left: 12px;
  }
}
@media (max-width: 576px) {
  .px-sm-12 {
    padding: 0 12px;
  }

  .py-sm-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .py-sm-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.mx-auto {
  margin: 0 auto;
}
.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}
.me-2 {
  margin-right: 2px;
}
.me-8 {
  margin-right: 8px;
}
.me-12 {
  margin-right: 12px;
}
.me-16 {
  margin-right: 16px;
}
.me-24 {
  margin-right: 24px;
}
.me-48 {
  margin-right: 48px;
}
.me-40 {
  margin-right: 40px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-64 {
  margin-bottom: 64px;
}

.my-64 {
  margin: 64px auto;
}
@media (max-width: 767px) {
  .mb-md-0 {
    margin-bottom: 0;
  }
  .mb-md-8 {
    margin-bottom: 8px;
  }
  .mb-md-12 {
    margin-bottom: 12px;
  }
  .mb-md-16 {
    margin-bottom: 16px;
  }
  .mb-md-24 {
    margin-bottom: 24px;
  }
  .mb-md-32 {
    margin-bottom: 32px;
  }
  .my-md-24 {
    margin-bottom: 24px;
    margin-top: 24px;
  }
  .my-md-32 {
    margin-bottom: 32px;
    margin-top: 32px;
  }
  .mx-md-0 {
    margin: 0;
  }
  .mr-md-8 {
    margin-right: 8px;
  }
}
@media (max-width: 576px) {
  .me-sm-0 {
    margin-right: 0;
  }
  .me-sm-16 {
    margin-right: 16px;
  }
  .mb-sm-4 {
    margin-bottom: 4px;
  }
  .mb-sm-8 {
    margin-bottom: 8px;
  }
}
.bg-primary-100 {
  background-color: #f5fee7;
}
.bg-primary-200 {
  background-color: #e8fec5;
}
.bg-neutral-100 {
  background-color: #f8f9fa;
}
.text-primary-400 {
  color: #57a203;
}
.text-primary-300 {
  color: #c0fa73;
}
.text-neutral-500 {
  color: #adb5bd;
}
.text-neutral-600 {
  color: #6c757d;
}
.text-danger-300 {
  color: #d74f4f;
}
.text-white {
  color: #ffffff;
}
.text-sm {
  font-size: 14px;
}
.text-20 {
  font-size: 20px;
}
.text-32 {
  font-size: 32px;
}
.text-48 {
  font-size: 48px;
}
.text-40 {
  font-size: 40px;
}
.fw-500 {
  font-weight: 500;
}
.fw-700 {
  font-weight: 700;
}
.text-center {
  text-align: center;
}
@media (max-width: 767px) {
  .text-md-48 {
    font-size: 48px;
  }
  .text-md-32 {
    font-size: 32px;
  }
  .text-md-28 {
    font-size: 28px;
  }
  .text-md-24 {
    font-size: 24px;
  }
  .text-md-20 {
    font-size: 20px;
  }
  .text-md-16 {
    font-size: 16px;
  }
  .text-center-md {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .overflow-md-x {
    overflow-x: auto;
  }
}
