<nav class="container py-12 d-flex align-center justify-between">
  <ul class="d-flex align-center">
    <li class="me-48">
      <a href="index.html"
        ><img src="../assets/images/Logo.png" alt="logo"
      /></a>
    </li>
    <li class="me-40 d-md-none">
      <a href="products.html" class="py-12 fw-500">商品列表</a>
    </li>
    <li class="d-md-none">
      <a href="story.html" class="py-12 fw-500">品牌故事</a>
    </li>
  </ul>
  <a href="login.html" class="p-12"><i class="bi bi-person"></i></a>
</nav>
