*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #212529;
  display: block;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
body {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0.05em;
  color: #212529;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '/';
  padding: 0 12px;
  color: #dee2e6;
  font-size: 700;
}
.breadcrumb-item {
  display: flex;
}
.breadcrumb-link {
  color: #6c757d;
}
@media (max-width: 767px) {
  .breadcrumb-item + .breadcrumb-item::before {
    padding: 0 8px;
  }
  .breadcrumb-item {
    font-size: 14px;
  }
}
.btn {
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  border: none;
  background-color: transparent;
  font-family: inherit;
}
.btn:disabled {
  pointer-events: none;
}
.btn-dark {
  background: #212529;
  color: white;
}
.btn-dark:hover {
  background-color: #495057;
}
.btn-light {
  border: 1px solid #212529;
}
@media (max-width: 576px) {
  .btn-md {
    padding: 8px 16px;
  }
}

.copyright {
  padding-top: 32px;
  text-align: center;
  border-top: 1px solid #dee2e6;
  font-size: 14px;
  color: #6c757d;
}
